<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aladin.bookmark.mapper.BookmarkMapper">

	<!-- 게시글 테이블과 VO 매핑 -->
	<resultMap id="roomBoardResultMap" type="com.aladin.roomBoard.vo.RoomBoardVo">
		<id property="id" column="id" />
		<result property="membersUsername" column="members_username" />
		<result property="title" column="title" />
		<result property="detail" column="detail" />
		<result property="address" column="address" />
		<result property="postcode" column="postcode" />
		<result property="price" column="price" />
		<result property="houseSize" column="house_size" />
		<result property="pricePer" column="price_per" />
		<result property="rentStart" column="rent_start" javaType="java.sql.Date" />
		<result property="rentUntil" column="rent_until" javaType="java.sql.Date" />
		<result property="hashtags" column="hashtags" />
		<result property="views" column="views" />
		<result property="createdAt" column="created_at" />
		<result property="updatedAt" column="updated_at" />
	</resultMap>

	<!-- BoardCardDto 매핑 -->
	<resultMap id="roomBoardCardDtoResultMap" type="com.aladin.roomBoard.dto.RoomBoardCardDto">
		<result property="thumbnailUrl" column="thumbnail_url" />
		<result property="profileImagePath" column="profileImagePath" />
		<result property="nickname" column="nickname" />
		<association property="roomBoardVo" javaType="com.aladin.roomBoard.vo.RoomBoardVo" resultMap="roomBoardResultMap" />
	</resultMap>

	<insert id="insertBoardBookmark" parameterType="map">
		INSERT INTO roomboards_bookmarks (members_username, roomboards_id)
		SELECT #{username}, #{roomboardsId}
		WHERE NOT EXISTS (
		SELECT 1
		FROM roomboards_bookmarks b
		WHERE b.members_username = #{username}
		AND b.roomboards_id = #{roomboardsId}
		);
	</insert>


	<delete id="deleteBoardBookmark" parameterType="map">
		DELETE FROM roomboards_bookmarks
		WHERE members_username = #{username} AND roomboards_id = #{roomboardsId};
	</delete>

	<select id="findBoardBookmarksByCursor" resultMap="roomBoardCardDtoResultMap">
		SELECT
		rb.id AS id,
		rb.members_username AS members_username,
		rb.title AS title,
		rb.detail AS detail,
		rb.address AS address,
		rb.postcode AS postcode,
		rb.price AS price,
		rb.house_size AS house_size,
		rb.price_per AS price_per,
		rb.rent_start AS rent_start,
		rb.rent_until AS rent_until,
		rb.hashtags AS hashtags,
		rb.views AS views,
		rb.created_at AS created_at,
		rb.updated_at AS updated_at,
		rbi.url AS thumbnail_url,
		m.nickname AS nickname,
		m.profile_image_path AS profileImagePath
		FROM roomboards_bookmarks b
		JOIN roomboards rb ON b.roomboards_id = rb.id
		LEFT JOIN roomboards_images rbi ON rb.id = rbi.roomboards_id AND rbi.image_order = 0
		LEFT JOIN members m ON rb.members_username = m.username
		WHERE b.members_username = #{username}
		<if test="cursorId != null">
			AND rb.id &lt; #{cursorId}
		</if>
		ORDER BY rb.id DESC
		LIMIT #{pageSize};
	</select>

	<select id="findOneBoardBookmarkById" resultMap="roomBoardCardDtoResultMap">
		SELECT
		rb.id AS id,
		rb.members_username AS members_username,
		rb.title AS title,
		rb.detail AS detail,
		rb.address AS address,
		rb.postcode AS postcode,
		rb.price AS price,
		rb.house_size AS house_size,
		rb.price_per AS price_per,
		rb.rent_start AS rent_start,
		rb.rent_until AS rent_until,
		rb.hashtags AS hashtags,
		rb.views AS views,
		rb.created_at AS created_at,
		rb.updated_at AS updated_at,
		rbi.url AS thumbnail_url,
		m.nickname AS nickname,
		m.profile_image_path AS profileImagePath
		FROM roomboards_bookmarks b
		JOIN roomboards rb ON b.roomboards_id = rb.id
		LEFT JOIN roomboards_images rbi ON rb.id = rbi.roomboards_id AND rbi.image_order = 0
		LEFT JOIN members m ON rb.members_username = m.username
		WHERE rb.id = #{boardId} AND rb.members_username = #{username}
	</select>

	<insert id="insertDealBookmark" parameterType="map">
		INSERT INTO housedeals_bookmarks (
		members_username,
		housedeals_no,
		apt_seq,
		latitude,
		longitude,
		created_at
		)
		SELECT
		#{username},
		#{housedealsNo},
		h.apt_seq,
		c.latitude,
		c.longitude,
		NOW()
		FROM housedeals h
		JOIN housecards c ON h.apt_seq = c.apt_seq
		WHERE h.no = #{housedealsNo}
		AND NOT EXISTS (
		SELECT 1
		FROM housedeals_bookmarks b
		WHERE b.members_username = #{username}
		AND b.housedeals_no = #{housedealsNo}
		);
	</insert>

	<!-- 아파트 거래 북마크 삭제 -->
	<delete id="deleteDealBookmark" parameterType="map">
		DELETE FROM housedeals_bookmarks
		WHERE members_username = #{username}
		AND housedeals_no = #{housedealsNo};
	</delete>

	<select id="findDealBookmarksByCursor" resultType="com.aladin.bookmark.dto.DealBookmarkResponseDto">
		SELECT
		b.id AS bookmarkId,
		b.housedeals_no AS dealNo,
		h.apt_seq AS aptSeq,
		h.deal_amount AS dealAmount,
		c.apt_name AS aptName,
		c.latitude AS latitude,
		c.longitude AS longitude,
		b.created_at AS bookmarkedAt,
		-- 추가 필드
		c.sido_name AS sidoName,
		c.gugun_name AS gugunName,
		c.dong_name AS dongName,
		c.jibun AS jibun,
		c.build_year AS buildYear,
		h.exclu_use_ar AS excluUseAr,
		h.floor AS floor,
		CASE
		WHEN h.apt_dong = ' ' THEN NULL
		ELSE h.apt_dong
		END AS aptDong,
		h.deal_year AS dealYear,
		h.deal_month AS dealMonth,
		h.deal_day AS dealDay
		FROM housedeals_bookmarks b
		JOIN housedeals h ON b.housedeals_no = h.no
		JOIN housecards c ON h.apt_seq = c.apt_seq
		WHERE b.members_username = #{username}
		<if test="cursorId != null">
			AND b.id &lt; #{cursorId}
		</if>
		ORDER BY b.id DESC
		LIMIT #{pageSize};
	</select>

	<select id="findOneDealBookmarkById" resultType="com.aladin.bookmark.dto.DealBookmarkResponseDto">
		SELECT
		b.id AS bookmarkId,
		b.housedeals_no AS dealNo,
		h.apt_seq AS aptSeq,
		h.deal_amount AS dealAmount,
		c.apt_name AS aptName,
		c.latitude AS latitude,
		c.longitude AS longitude,
		b.created_at AS bookmarkedAt,
		-- 추가 필드
		c.sido_name AS sidoName,
		c.gugun_name AS gugunName,
		c.dong_name AS dongName,
		c.jibun AS jibun,
		c.build_year AS buildYear,
		h.exclu_use_ar AS excluUseAr,
		h.floor AS floor,
		CASE
		WHEN h.apt_dong = ' ' THEN NULL
		ELSE h.apt_dong
		END AS aptDong,
		h.deal_year AS dealYear,
		h.deal_month AS dealMonth,
		h.deal_day AS dealDay
		FROM housedeals_bookmarks b
		JOIN housedeals h ON b.housedeals_no = h.no
		JOIN housecards c ON h.apt_seq = c.apt_seq
		WHERE b.members_username = #{username}
		AND b.housedeals_no = #{housedealsNo}
	</select>

</mapper>
