<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aladin.house.mapper.HouseMapper">

	<resultMap id="HouseCardResultMap" type="com.aladin.house.vo.HouseCardVo">
		<id property="aptSeq" column="apt_seq" />
		<result property="dongCode" column="dong_code" />
		<result property="sidoName" column="sido_name" />
		<result property="gugunName" column="gugun_name" />
		<result property="dongName" column="dong_name" />
		<result property="aptName" column="apt_name" />
		<result property="jibun" column="jibun" />
		<result property="latestDealAmount" column="latest_deal_amount" />
		<result property="excluUseAr" column="exclu_use_ar" />
		<result property="latitude" column="latitude" />
		<result property="longitude" column="longitude" />
		<result property="views" column="views" />
		<result property="buildYear" column="build_year" />
		<result property="aptPhotoLink" column="apt_photo_link" />
	</resultMap>

	<!-- HouseDealResultMap 정의 -->
	<resultMap id="HouseDealResultMap" type="com.aladin.house.vo.HouseDealVo">
		<id property="no" column="no" />
		<result property="aptSeq" column="apt_seq" />
		<result property="aptDong" column="apt_dong" />
		<result property="floor" column="floor" />
		<result property="dealYear" column="deal_year" />
		<result property="dealMonth" column="deal_month" />
		<result property="dealDay" column="deal_day" />
		<result property="excluUseAr" column="exclu_use_ar" />
		<result property="dealAmount" column="deal_amount" />
		<result property="views" column="views" />
	</resultMap>

	<!-- DTO를 사용한 범위 데이터 가져오기 -->
	<select id="findHousesBetweenCoordinates" parameterType="com.aladin.house.dto.BetweenRangeHouseCardRequestDto" resultMap="HouseCardResultMap">
		SELECT
		apt_seq,
		dong_code,
		sido_name,
		gugun_name,
		dong_name,
		apt_name,
		jibun,
		latest_deal_amount,
		exclu_use_ar,
		latitude,
		longitude,
		views,
		build_year,
		apt_photo_link
		FROM housecards
		WHERE
		CAST(latitude AS DECIMAL(10,6)) BETWEEN #{latA} AND #{latB}
		AND CAST(longitude AS DECIMAL(10,6)) BETWEEN #{lngA} AND #{lngB}
	</select>

	<!-- DTO를 사용한 특정 좌표 기준 데이터 가져오기 -->
	<select id="findHousesClosestToCoordinates" parameterType="com.aladin.house.dto.ClosestCoordinateHouseCardRequestDto" resultMap="HouseCardResultMap">
		SELECT
		apt_seq,
		dong_code,
		sido_name,
		gugun_name,
		dong_name,
		apt_name,
		jibun,
		latest_deal_amount,
		exclu_use_ar,
		latitude,
		longitude,
		views,
		build_year,
		apt_photo_link,
		LEAST(
		ABS(CAST(latitude AS DECIMAL(10,6)) - #{lat}) + ABS(CAST(longitude AS DECIMAL(10,6)) - #{lng}),
		ABS(CAST(latitude AS DECIMAL(10,6)) - #{lat}) + ABS(CAST(longitude AS DECIMAL(10,6)) - #{lng})
		) AS distance_approx
		FROM housecards
		WHERE
		CAST(latitude AS DECIMAL(10,6)) BETWEEN #{lat} - 0.9 AND #{lat} + 0.9
		AND CAST(longitude AS DECIMAL(10,6)) BETWEEN #{lng} - 1.14 AND #{lng} + 1.14
		ORDER BY distance_approx
		LIMIT 300
	</select>

	<select id="findAllHouseDealsByAptSeqWithCursor" parameterType="map" resultMap="HouseDealResultMap">
		SELECT
		no,
		apt_seq,
		apt_dong,
		floor,
		deal_year,
		deal_month,
		deal_day,
		exclu_use_ar,
		deal_amount,
		views
		FROM housedeals
		WHERE apt_seq = #{aptSeq}
		<if test="cursorId != null">
			AND no &lt; #{cursorId}
		</if>
		ORDER BY no DESC
		LIMIT #{size}
	</select>

	<select id="getHouseDetailByAptSeq" parameterType="String" resultType="com.aladin.house.vo.HouseDetailVo">
		SELECT
		apt_seq,
		apt_name,
		household_count,
		floor_range,
		parking_count,
		floor_area_ratio,
		building_coverage_ratio,
		construction_company,
		heating_type,
		management_digit,
		area_sizes
		FROM houseinfo_details
		WHERE apt_seq = #{aptSeq}
	</select>

	<!-- 아파트 거래금액, 면적 최소 최대 재공 -->
	<select id="findHouseDealStatByAptSeq" parameterType="String" resultType="com.aladin.house.vo.HouseDealStatVo">
		SELECT
		apt_seq,
		deal_date_oldest,
		deal_date_latest,
		exclu_use_ar_min,
		exclu_use_ar_max,
		deal_amount_min,
		deal_amount_max
		FROM housedeals_stat
		WHERE apt_seq = #{aptSeq}
	</select>
</mapper>
