<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aladin.roomBoard.mapper.RoomBoardMapper">
	<!-- 게시글 테이블과 VO 매핑 -->
	<resultMap id="roomBoardResultMap" type="com.aladin.roomBoard.vo.RoomBoardVo">
		<id property="id" column="id" />
		<result property="membersUsername" column="members_username" />
		<result property="title" column="title" />
		<result property="detail" column="detail" />
		<result property="address" column="address" />
		<result property="postcode" column="postcode" />
		<result property="price" column="price" />
		<result property="houseSize" column="house_size" />
		<result property="pricePer" column="price_per" />
		<result property="rentStart" column="rent_start" javaType="java.sql.Date" />
		<result property="rentUntil" column="rent_until" javaType="java.sql.Date" />
		<result property="hashtags" column="hashtags" />
		<result property="views" column="views" />
		<result property="createdAt" column="created_at" />
		<result property="updatedAt" column="updated_at" />
	</resultMap>

	<!-- BoardCardDto 매핑 -->
	<resultMap id="roomBoardCardDtoResultMap" type="com.aladin.roomBoard.dto.RoomBoardCardDto">
		<result property="thumbnailUrl" column="thumbnail_url" />
		<result property="profileImagePath" column="profileImagePath" />
		<result property="nickname" column="nickname" />
		<association property="roomBoardVo" javaType="com.aladin.roomBoard.vo.RoomBoardVo" resultMap="roomBoardResultMap" />
	</resultMap>

	<resultMap id="roomBoardImageResultMap" type="com.aladin.roomBoard.vo.RoomBoardImageVo">
		<id property="id" column="id" />
		<result property="url" column="url" />
		<result property="imageOrder" column="image_order" />
		<result property="roomboardsId" column="roomboards_id" />
	</resultMap>

	<resultMap id="roomBoardDetailDtoResultMap" type="com.aladin.roomBoard.dto.RoomBoardDetailDto">
		<result property="nickname" column="nickname" />
		<result property="profileImagePath" column="profile_image_path" />
		<association property="roomBoardVo" javaType="com.aladin.roomBoard.vo.RoomBoardVo" resultMap="roomBoardResultMap" />
		<collection property="roomImageInfos" ofType="com.aladin.roomBoard.vo.RoomBoardImageVo" resultMap="roomBoardImageResultMap" />
	</resultMap>

	<!-- 게시글 등록 ok -->
	<insert id="insertBoard" useGeneratedKeys="true" keyProperty="id" parameterType="map">
		INSERT INTO roomboards (
		members_username, title, detail, address, postcode, price, house_size,
		price_per, rent_start, rent_until, hashtags, created_at, updated_at
		) VALUES (
		#{dto.membersUsername}, #{dto.title}, #{dto.detail}, #{dto.address},
		#{dto.postcode}, #{dto.price}, #{dto.houseSize}, #{dto.pricePer},
		#{dto.rentStart}, #{dto.rentUntil}, #{dto.hashtags, typeHandler=com.aladin.common.JsonTypeHandler}, NOW(), NOW()
		)
	</insert>

	<!-- 커서 기반 페이징 ok -->
	<select id="findBoardsByCursor" resultMap="roomBoardCardDtoResultMap">
		SELECT
		rb.id AS id,
		rb.members_username AS members_username,
		rb.title AS title,
		rb.detail AS detail,
		rb.address AS address,
		rb.postcode AS postcode,
		rb.price AS price,
		rb.house_size AS house_size,
		rb.price_per AS price_per,
		rb.rent_start AS rent_start,
		rb.rent_until AS rent_until,
		rb.hashtags AS hashtags,
		rb.views AS views,
		rb.created_at AS created_at,
		rb.updated_at AS updated_at,
		rbi.url AS thumbnail_url,
		m.profile_image_path AS profileImagePath,
		m.nickname AS nickname
		FROM roomboards rb
		LEFT JOIN roomboards_images rbi
		ON rb.id = rbi.roomboards_id AND rbi.image_order = 0
		LEFT JOIN members m
		ON rb.members_username = m.username
		<where>
			<if test="cursorId != null">
				rb.id &lt; #{cursorId}
			</if>
		</where>
		ORDER BY rb.id DESC
		LIMIT #{pageSize};
	</select>


	<select id="findAllBoards" resultMap="roomBoardCardDtoResultMap">
		SELECT
		rb.id AS id,
		rb.members_username AS members_username,
		rb.title AS title,
		rb.detail AS detail,
		rb.address AS address,
		rb.postcode AS postcode,
		rb.price AS price,
		rb.house_size AS house_size,
		rb.price_per AS price_per,
		rb.rent_start AS rent_start,
		rb.rent_until AS rent_until,
		rb.hashtags AS hashtags,
		rb.views AS views,
		rb.created_at AS created_at,
		rb.updated_at AS updated_at,
		rbi.url AS thumbnail_url,
		m.profile_image_path AS profileImagePath,
		m.nickname AS nickname
		FROM roomboards rb
		LEFT JOIN roomboards_images rbi
		ON rb.id = rbi.roomboards_id AND rbi.image_order = 0
		LEFT JOIN members m
		ON rb.members_username = m.username
		ORDER BY rb.id DESC;
	</select>


	<select id="findOneByRoomBoardId" resultMap="roomBoardDetailDtoResultMap">
		SELECT
		rb.id,
		rb.members_username,
		rb.title,
		rb.detail,
		rb.address,
		rb.postcode,
		rb.price,
		rb.house_size,
		rb.price_per,
		rb.rent_start,
		rb.rent_until,
		rb.hashtags,
		rb.views,
		rb.created_at,
		rb.updated_at,
		m.nickname,
		m.profile_image_path
		FROM roomboards rb
		LEFT JOIN members m ON rb.members_username = m.username
		WHERE rb.id = #{roomboardsId};
	</select>

	<!-- 사진 1장 저장 ok -->
	<insert id="insertBoardImage" parameterType="map">
		INSERT INTO roomboards_images (roomboards_id, url, image_order)
		VALUES (#{boardId}, #{imageUrl}, #{imageOrder});
	</insert>

	<!-- 게시물 id에 해당하는 사진 전부 조회 ok -->
	<select id="findImagesByRoomBoardId" parameterType="long" resultType="com.aladin.roomBoard.vo.RoomBoardImageVo">
		SELECT id, url, image_order, roomboards_id
		FROM roomboards_images
		WHERE roomboards_id = #{roomboardsId}
		ORDER BY image_order ASC;
	</select>

	<!-- 게시물 id에 해당하는 사진 삭제 -->
	<delete id="deleteImagesByRoomBoardId" parameterType="long">
		DELETE FROM roomboards_images
		WHERE roomboards_id = #{roomboardsId};
	</delete>

	<update id="updateBoard" parameterType="com.aladin.roomBoard.dto.RoomBoardUpdateRequestDto">
		UPDATE roomboards
		SET
		title = #{dto.title},
		detail = #{dto.detail},
		address = #{dto.address},
		postcode = #{dto.postcode},
		price = #{dto.price},
		house_size = #{dto.houseSize},
		price_per = #{dto.pricePer},
		rent_start = #{dto.rentStart},
		rent_until = #{dto.rentUntil},
		hashtags = #{dto.hashtags, typeHandler=com.aladin.common.JsonTypeHandler},
		updated_at = NOW()
		WHERE id = #{dto.id};
	</update>

	<delete id="deleteBoardById" parameterType="long">
		DELETE FROM roomboards WHERE id = #{boardId};
	</delete>

	<select id="findBoardsByHashtags" resultMap="roomBoardCardDtoResultMap" parameterType="list">
		SELECT
		rb.id AS id,
		rb.members_username AS members_username,
		rb.title AS title,
		rb.detail AS detail,
		rb.address AS address,
		rb.postcode AS postcode,
		rb.price AS price,
		rb.house_size AS house_size,
		rb.price_per AS price_per,
		rb.rent_start AS rent_start,
		rb.rent_until AS rent_until,
		rb.hashtags AS hashtags,
		rb.views AS views,
		rb.created_at AS created_at,
		rb.updated_at AS updated_at,
		rbi.url AS thumbnail_url,
		m.profile_image_path AS profileImagePath,
		m.nickname AS nickname
		FROM roomboards rb
		LEFT JOIN roomboards_images rbi
		ON rb.id = rbi.roomboards_id AND rbi.image_order = 0
		LEFT JOIN members m
		ON rb.members_username = m.username
		WHERE
		<foreach collection="list" item="tag" open="(" separator="AND" close=")">
			JSON_CONTAINS(rb.hashtags, CONCAT('"', #{tag}, '"'), '$')
		</foreach>
		ORDER BY rb.id DESC;
	</select>

	<!-- 필터를 통한 게시물 조회 -->
	<select id="findBoardsWithFilters" resultMap="roomBoardCardDtoResultMap" parameterType="com.aladin.roomBoard.dto.RoomBoardFilterRequestDto">
		SELECT
		rb.id AS id,
		rb.members_username AS members_username,
		rb.title AS title,
		rb.detail AS detail,
		rb.address AS address,
		rb.postcode AS postcode,
		rb.price AS price,
		rb.house_size AS house_size,
		rb.price_per AS price_per,
		rb.rent_start AS rent_start,
		rb.rent_until AS rent_until,
		rb.hashtags AS hashtags,
		rb.views AS views,
		rb.created_at AS created_at,
		rb.updated_at AS updated_at,
		rbi.url AS thumbnail_url,
		m.profile_image_path AS profile_image_path,
		m.nickname AS nickname
		FROM roomboards rb
		LEFT JOIN roomboards_images rbi ON rb.id = rbi.roomboards_id AND rbi.image_order = 0
		LEFT JOIN members m ON rb.members_username = m.username
		WHERE 1=1
		<if test="hashtags != null and hashtags.size() > 0">
			AND JSON_CONTAINS(rb.hashtags, CONCAT('\"', #{hashtags[0]}, '\"'), '$')
		</if>
		<if test="rentFrom != null">
			AND rb.rent_start &gt;= #{rentFrom}
		</if>
		<if test="rentTo != null">
			AND (rb.rent_until IS NULL OR rb.rent_until &lt;= #{rentTo})
		</if>
		<if test="address != null and address != ''">
			AND rb.address LIKE CONCAT('%', #{address}, '%')
		</if>
		<if test="priceMin != null">
			AND rb.price &gt;= #{priceMin}
		</if>
		<if test="priceMax != null">
			AND rb.price &lt;= #{priceMax}
		</if>
		<if test="sizeMin != null">
			AND rb.house_size &gt;= #{sizeMin}
		</if>
		<if test="sizeMax != null">
			AND rb.house_size &lt;= #{sizeMax}
		</if>
		ORDER BY rb.created_at DESC;
	</select>


</mapper>
